.carousel .slider-wrapper {
  width: 50%;
}

.carousel .thumb {
  width: 5%;
  height: 50px;
}

/* I (Mahir) added .carousel */
.carousel {
  margin-left: 25%;
}

.Home {
  background-color: #e2703a;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.Book {
  width: 37%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 7%;
}

.Genre {
  background-color: #d38e10;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 9%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.G {
  width: 35%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 7%;
}

.Quiz {
  background-color: #7b4931;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 9%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.Q {
  width: 33%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 8%;
}

.Random {
  background-color: #c39367;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 11%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.R {
  width: 32%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 7%;
}

.Search {
  background-color: #f7e0ac;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 11%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.Blog {
  background-color: #f5c6a5;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 11%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.AboutUs {
  background-color: #ecf5ff;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 13%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.A {
  width: 30%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 7%;
}
.S {
  width: 32%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 7%;
}

.B {
  width: 30%;
  float: left;
  padding-top: 5%;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 9%;
}

.sec-title {
  font-size: 223%;
  font-weight: bold;
}

/* I (Mahir) added .des margin-right: 4% */

.des {
  font-size: 150%;
  margin-right: 4%;
}

.div-g {
  padding-left: 20%;
}

.Footer {
  background-color: #e6e6e6;
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;
}

.fb {
  width: 35px;
}

.tw {
  width: 35px;
}

.insta {
  width: 35px;
}

.footerimg {
  margin-right: 5px;
}

.Link {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-left: 40%;
  font-size: 150%;
}

.Link1 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-left: 32%;
  font-size: 150%;
}

.Link3 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-right: 40%;
  font-size: 150%;
}

.Link4 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-left: 2px;
  font-size: 150%;
}

.Link5 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-right: 400px;
  font-size: 150%;
}

.Link9 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-left: 363px;
  font-size: 150%;
}

.Week {
  background-color: #f0bb62;
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 2;
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.Week_Book {
  width: 32%;
  float: left;
  padding-right: 6%;
  padding-left: 4%;
  padding-bottom: 25%;
}

.Link14 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-left: 0%;
  font-size: 150%;
}
