.NavbarItems {
  background: #C36839;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.book-logo{
  width:34%;
  float:left;
  margin-bottom: 1%;

}

.fas-fa-newspaper{
  float:left;
  
}

.navbar-logo {
  color: #ffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.link-item {
  text-decoration: none !important;
  justify-content: start;
}

.link-item-center {
  text-decoration: none !important;
  float: center;
  margin-left: 31.5rem;
}

.link-item-right {
  text-decoration: none !important;
  float: right;
  margin-left: auto;
  margin-right: 20px;
  color:white !important;
}

.link-item-second-right {
  text-decoration: none !important;
  float: right;
  margin-left: auto;
  margin-right: 40px;
}

.bu{
  color:white;
}